[submodule "project1"]
	path = project1
	url = https://github.com/Ayman-ELwarak/Business_App.git
[submodule "project2"]
	path = project2
	url = https://github.com/Ayman-ELwarak/Basketball_Points_Counter_App.git
[submodule "project3"]
	path = project3
	url = https://github.com/Ayman-ELwarak/Language_Learning_App.git
[submodule "project4"]
	path = project4
	url = https://github.com/Ayman-ELwarak/tunes_player_app.git
[submodule "project5"]
	path = project5
	url = https://github.com/Ayman-ELwarak/news_app.git
